input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}

body {
	font-family: Montserrat;
}

.upflow {
	background-color: #0C82F4;
}

.row_margin {
	margin-top: 20px;
}

.jumbotron{
	color: white;
	text-align: center;
	font-weight: bold;
	border-radius: 0px;
}

.jumbotron small{
	font-weight: bold;
	font-style: italic;
}

p .error{
	color: red;
}
